In [3]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv('MOCK_DATA.csv')

# Calcular la edad
hoy = pd.Timestamp('now')
df['birthday'] = pd.to_datetime(df['birthday'])

# Funci√≥n para calcular la edad
def calcular_edad(birthday, hoy):
    return hoy.year - birthday.year - ((hoy.month, hoy.day) < (birthday.month, birthday.day))

df['age'] = df['birthday'].apply(lambda x: calcular_edad(x, hoy))

# Crear el nombre completo
df['full_name'] = df['first_name'] + ' ' + df['last_name']

# Mostrar el DataFrame resultante
print(df)

       id first_name last_name                      email  gender  \
0       1   Courtney   Manners        cmanners0@exblog.jp  Female
1       2     Hillel  Widdison          hwiddison1@nhs.uk    Male
2       3      Dolli   Grimble            dgrimble2@51.la  Female
3       4   Gerhardt    Fitter         gfitter3@salon.com    Male
4       5    Donnell    Almond        dalmond4@disqus.com    Male
..    ...        ...       ...                        ...     ...
995   996      Twyla    Corley        tcorleyrn@jigsy.com  Female
996   997   Dietrich   Damsell     ddamsellro@booking.com    Male
997   998  Morganica      Nary            mnaryrp@tiny.cc  Female
998   999   Fredelia     Havik  fhavikrq@chronoengine.com  Female
999  1000     Borden  Standage     bstandagerr@ustream.tv    Male

         ip_address   birthday country car_model  car_model_year  age  \
0     41.26.205.119 2000-08-28      GT  E-Series            1986   23
1    136.84.148.182 1974-06-21      ID    Avalon            1998   50
2      83.75.254.18 1990-12-17      ID  Passport            1999   33
3     59.246.30.133 1972-02-04      SL     Metro            1993   52
4     10.148.96.238 1988-03-26      ID       GTO            1974   36
..              ...        ...     ...       ...             ...  ...
995   198.208.186.9 1950-07-26      AU  CL-Class            2011   73
996    5.148.252.98 1981-02-07      JP        A3            2012   43
997   71.143.165.97 1961-07-25      GR   Prelude            1994   62
998  50.136.181.136 1976-02-12      RU   Caprice            1996   48
999  131.45.151.191 1958-12-10      CN   Avenger            2012   65

            full_name
0    Courtney Manners
1     Hillel Widdison
2       Dolli Grimble
3     Gerhardt Fitter
4      Donnell Almond
..                ...
995      Twyla Corley
996  Dietrich Damsell
997    Morganica Nary
998    Fredelia Havik
999   Borden Standage

[1000 rows x 12 columns]